h1 {
  display: flex;
  justify-content: center;
  font-weight: bold;
  color: green;
}

#calculator {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 300px;
  height: 400px;
  /* display: flex; */
  background-color: rgb(32, 32, 32);
}

.display {
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  width: 280px;
  height: 60px;
  background-color: rgb(230, 230, 230);
}

#operator {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  margin-right: 10px;
}

.op {
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 900;
  font-size: 1.2rem;
  background-color: rgb(209, 152, 21);
  border-radius: 5px;
  width: 50px;
  border-radius: 5px;
  aspect-ratio: 1/1;
}
