body {
  font-family: Verdana, sans-serif;
}

h1 {
  display: flex;
  justify-content: center;
  font-weight: bold;
  color: rgb(14, 116, 232);
}

.main-cont {
  display: flex;
  justify-content: center;
}

#calculator {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* align-items: center; */
  width: 300px;
  height: 400px;
  background-color: rgb(60, 60, 60);
  border-radius: 10px;
}

.display {
  flex: 1;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: end;
  height: 60px;
  background-color: rgb(230, 230, 230);
  border-radius: 10px;
}

.previous-number,
.current-number {
  margin-right: 5px;
}

.previous-number {
  font-size: 1rem;
}

.current-number {
  font-size: 2rem;
}

.container {
  display: flex;
  flex-direction: column;
  flex-direction: row-reverse;
}

#operator {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

#equal,
.op {
  /* flex: 1; */
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 900;
  font-size: 1.9rem;
  background-color: rgb(209, 152, 21);
  width: 55px;
  border-radius: 100%;
  aspect-ratio: 1/1;
}

.mul {
  padding-top: 15px;
  /* align-self: baseline; */
}

.digits {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  /* align-items: center; */
  margin: 10px;
}

.dig {
  /* display: flex; */

  width: 65px;
  height: 65px;
  border-radius: 100%;
  font-size: 25px;
}

/* .zero {
  flex: 2;
  border-radius: 75%;
} */
